<!doctype html>
<html lang="en" class="pageIn">
  <head>
    <!-- METADATA -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>Margaret Rumble | Portfolio</title>
    <!-- Bootstrap 4.0 CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome CDN -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <!-- Devicons CDN -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

    <!-- External CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Icon/favicon -->
    <link rel="icon" href="assets/images/portfolio.png">
  </head>
  <body>

    <div class="wrapper bg">
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id="mynav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand font1" href="/" draggable="false">
                Margaret Rumble
                {{!-- <img class="img-fluid profile-img" src="assets/images/megrumble.jpeg" width="64" alt="profile-image"> --}}
            </a>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="navbar navbar-nav" draggable="false">
                    <li class="nav-item font1"><a class="nav-link" href="#about" draggable="false">About</a></li>
                    <li class="nav-item font1"><a class="nav-link" href="#skills" draggable="false">Skills</a></li>
                    <li class="nav-item font1"><a class="nav-link" href="#projects" draggable="false">Projects</a></li>
                    <li class="nav-item font1"><a class="nav-link" href="#contact" draggable="false">Contact</a></li>
                </ul>
            </div>
        </nav>
        
        <div data-spy="scroll" data-target="#mynav" data-offset="10"></div>

        <div class="fadeIn">


            <!-- Page-specific elements -->
            {{{ body }}}
        
            <!-- Fixed Footer -->
            <footer class="footer bg-dark">
                <p class="font1 text-white">&copy; Copyright 2018 Margaret Rumble</p>
            </footer>
        </div>
    </div>
    
    
    <!-- SCRIPTS/LIBRARIES -->
    <!-- Google hosted libraries: https://developers.google.com/speed/libraries/#libraries -->

    <!-- jQuery (Google hosted = faster load), Popper.js, Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

    <!-- Client-side JavaScript -->
    <script src="assets/javascript/app.js"></script>
  </body>
</html>